
<h2>Add Item</h2>
<form action="/:slug/list/add" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Link: <input type="text" name="link"></p>
  <p>Price: <input type="integer" name="price"></p>
  <label> Categories </label>
    <%Category.all.each do |category|%>
    <input type="checkbox" name="item[category_id]" id="<%= category.name %>" value="<%=category.id%>"><%=category.name%></input>
  <%end%>

  <br></br>
    <label>New Category:</label>
      <input  type="text" name="category[name]" id="category_name"></input>
    <br></br>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
