<h2>Add Item</h2>

<!-- Display flash messages. -->
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <br>
  <br>

<!-- Create Form. -->
  <form action="/:slug/list/add" method="POST">
    <p>Name: <input type="text" name="name"></p>

    <p>Link: <input type="text" name="link"></p>

    <p>Price: <input type="integer" name="price"></p>

    <p>Category:
      <input type="text" list="categories" name="category">
      <datalist id="categories">
        <% current_user.categories.uniq.each do |category| %>
          <option value="<%=category.name%>">
          <% end %>
        </datalist>
      </p>

      <br>

      <input class="btn btn-primary" type="submit" value="submit">
    </form>

    <br>

    <a href="/<%=current_user.slug%>/list">Back to list.</a>
