<h4>Log in!</h4>
<form method="POST" action="/login">
  <p>Name: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn" type="submit">
</form>
<br>
<h5>Need an account?</h5><h5><a href="/">Sign Up!</a></h5>
